form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  form input,
  form textarea,
  form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  form textarea {
    height: 100px;
  }
  
  form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #45a049;
    color: #fff;
    border: none;
    border-radius: 3px; 
    font-size: 16px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  
  .comments-list {
    max-width: 600px;
    margin: 20px auto;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .comments-list h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .comments-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .comments-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
  
  .comments-details h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .comments-details p {
    margin: 0;
  }