/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, p {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

/* Styles du formulaire */
form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

form div {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f5f5f5;
    color: #333;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Styles des messages d'erreur */
.error {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
/* Header */
header {
    background-color: #0c0c0c;
    padding: 20px 0;
}

.logo img {
    height: 40px;
    vertical-align: middle;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #917f07e4;
    font-weight: bold;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.hero-image img {
    max-width: 200px;
    height: auto;
}

/* About Section */
.about {
    padding: 80px 0;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Features Section */
.features {
    padding: 80px 0;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature img {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.feature p {
    font-size: 16px;
}


.connect {
    background-color: #7d756f;
    color: #291e1e;
    padding: 80px 0;
    text-align: center;
}

.connect h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.connect p {
    font-size: 18px;
    margin-bottom: 30px;
}

.contact-button {
    display: inline-block;
    background-color: #fff;
    color: #ff6600;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

/* Contact Section */
.contact {
    padding: 80px 0;
    text-align: center;
    background-color: #f5f5f5;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
}



/* formulaire */
form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

form div {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f5f5f5;
    color: #333;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* messages d'erreur */
.error {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}