/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #0c0c0c;
    padding: 20px 0;
}

.logo img {
    height: 40px;
    vertical-align: middle;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #917f07e4;
    font-weight: bold;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.hero-image img {
    max-width: 200px;
    height: auto;
}

/* About Section */
.about {
    padding: 80px 0;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Features Section */
.features {
    padding: 80px 0;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature img {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.feature p {
    font-size: 16px;
}

/* Customization for Bootstrap Cards */
.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #585b5e;
    border-color: #005cbf;
}

/* Download Section */
.connect {
    background-color: #7d756f;
    color: #291e1e;
    padding: 80px 0;
    text-align: center;
}

.connect h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.connect p {
    font-size: 18px;
    margin-bottom: 30px;
}

.contact-button {
    display: inline-block;
    background-color: #fff;
    color: #ff6600;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

/* Contact Section */
.contact {
    padding: 80px 0;
    text-align: center;
    background-color: #f5f5f5;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
}


.login-form {

    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}

.login-form input[type="text"],
.login-form input[type="password"] {

    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button[type="submit"] {

    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}