{% extends 'base.html' %}
{% load static %}
{% block section %}

<link rel="stylesheet" href="{% static 'car.css' %}">

<div class="vehicles-container">
    <h1>Mes véhicules</h1>
    {% if vehicles %}
    {% for vehicle in vehicles %}
    <div class="vehicle-card">
      <p>Voiture : <strong>{{ vehicle.modele }}</strong></p>
      <p>Places : {{ vehicle.places }}</p>
      <p>Plaque : {{ vehicle.plaque }}</p>
      <p>Couleur : {{ vehicle.color }}</p>
    </div>
    {% endfor %}
    {% else %}
    <p>Vous n'avez pas encore de véhicule enregistré.</p>
    {% endif %}
  </div>
  <a href="vehicle/add/" >Ajouter une voiture </a> 
{% endblock section%}