{% extends 'index.html' %}

{% block section %}
<div class="add">
<form method="POST" action="{% url 'commentaire' %}" >
    {% csrf_token %}
    <label for="nom">Nom :</label>
    <input type="text" name="nom" id="nom" value="{{ request.user.username }}" autocomplete="username" required><br>

    <label for="trajet">Trajet :</label>
    <select name="trajet" id="trajet" required>
        <option value="">Choisissez un trajet</option>
        {% for trajet in request.user.trajets.all %}
        <option value="{{ trajet.id }}" {% if trajet == reservation.trajet %}selected{% endif %}>{{ trajet }}</option>
        {% endfor %}
    </select>

    <label for="conteu" >Contenu :</label>
    <input type="text" name="contenu" id="contenu" required><br>

    <label for="note">Note (sur 10) :</label>
    <input type="number" name="note" id="note" min="0" max="10" step="1" required><br>

    <input type="submit" class="submit" value="Enregistrer">
</form>
</div>
{% endblock %}