{% extends 'base.html' %}
{% block section %}
<h2>Your Recent Trips</h2>
<div class="trips-list"> 
  
  {% for trajet in trajets %}
  <article class="trips-item"> 
      <div class="trips-details">
            <h4>Point de départ:</h4><p>{{ trajet.point_depart }}</p>
            <h4>Passe par:</h4><p>{{ trajet.passe_par }}</p>
            <h4>Destination:</h4><p>{{ trajet.destination }}</p>
            <h4>Date:</h4><p>{{ trajet.date }}</p>
            <h4>Heure:</h4><p>{{ trajet.heure_depart }}</p>
            <h4>Places disponibles:</h4><p>{{ trajet.places_disponibles }}</p>
            <h4>Vehicule:</h4><p>{{ trajet.vehicule }}</p>
      </div>
      
        <a href="{% url 'modifierT' trajet.id %}" class="cta-button-m">Modifier</a>
        <a href="{% url 'deleteT' trajet.id %}" class="cta-button-d" id="delete-button">Supprimer</a>
    
  </article> 
  {% endfor %}       
</div>
        <a href="/dd/trajets" class="cta-button">Créer un trajet</a>
{% endblock section %}