{% extends 'index.html' %}
{% load static %}
{% block section %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<div class="form-container">
    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {% if erreur %}
        <p>{{ erreur }}</p>
    {% endif %}
    <div>
        {{ connection_form.username.label_tag }}
        {{ connection_form.username }}
        {{ connection_form.username.errors }}
    </div>
    <div>
        {{ connection_form.password.label_tag }}
        {{ connection_form.password }}
        {{ connection_form.password.errors }}
    </div>
    <button type="submit">Se connecter</button>
</form>
</div>

{% endblock %}