{% extends 'index.html' %}
{% load static %}

{% block section %}
<link rel="stylesheet" type="text/css" href="{% static 'payer.css' %}" >

<h1>Paiement pour votre réservation</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="code-confirmation">Veuillez copier ce code : <strong>{{ reservation.confirmation_code }}</strong></div>
    <input type="submit" value="Soumettre le paiement">
</form>

<a href="{% url 'reservation' %}" class="btn">Retourner aux réservations</a>
{% endblock %}