{% extends 'index.html' %}
{% load static %}

{% block section %}
<link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
<div class="form-container">
  <h1>S'inscrire</h1>
  {% if register_form.non_field_errors %}
    <div class="alert alert-danger">
      {% for error in register_form.non_field_errors %}
        {{ error }}<br>
      {% endfor %}
    </div>
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    {{ register_form.as_p }}
    <button type="submit">S'inscrire</button>
  </form>
</div>
{% endblock %}