{% extends 'index.html' %}

{% block section %}
<div class="container">
    <div class="row justify-content-center">
        {% for reservation in reservation %}
        <div class="col-md-6 mb-4">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title text-center">Réservation</h5>
                    <div class="reservation">
                        <p>User: {{ reservation.user }}</p>
                        <p>Trajet: {{ reservation.trajet }}</p>
                        <p>Avance payée: {{ reservation.avance_paye }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}