{% extends 'index.html' %}
{% load static %}
{% block section %}
<link rel="stylesheet" type="text/css" href="{% static 'reserver.css' %}" >
<div class="reservation-form-container">
  <form class="reservation-form" method="POST">
    {% csrf_token %}
    <h1>Creer une reservation</h1>
    <div class="form-group">
      <label for="username">Utilisateur :</label>
      <input id="username" name="username" type="text" value="{{ user.username }}" readonly>
    </div>
    <div class="form-group">
      <label for="trajet">Trajet :</label>
      {% for trajet in trajets %}
      <input id="{{ trajet.id }}" name="trajet" type="radio" value="{{ trajet.id }}" {% if selected_trajet and selected_trajet.id == trajet.id %} checked{% endif %}>
      <label for="{{ trajet.id }}">{{ trajet.point_depart }} - {{ trajet.destination }} ({{ trajet.places_disponibles }} places disponibles pour {{ trajet.date}})</label>
      {% endfor %}
    </div>
    <div class="form-group">
      <label for="places">Places :</label>
      <input id="places" name="places" type="number" min="1">
    </div>
    <div class="form-group">
      <label for="places">Point de rencontre :</label>
      <input id="point_de_rencontre" name="point_de_rencontre" type="text">
    </div>
    <button type="submit" action="% url 'reservation' %">Réserver</button>
  </form>
</div>


<div class="reserver-list"> 
  {% if reservations %}
  <h2>Mes Réservations</h2>
  {% for reservation in reservations %}
  <article class="reservation-item"> 
      <div class="reservation-details"> 
          <h4>Trajet :</h4><p>{{ reservation.trajet.point_depart }} - {{ reservation.trajet.destination }} pour {{reservation.trajet.date}}</p>
          <h4>date :</h4><p>{{ reservation.timestamp }}</p>
          <h4>Places :</h4><p>{{ reservation.places }}</p>
          <h4>Point de rencontre :</h4><p>{{ reservation.point_de_rencontre }}</p>
          <h4>Statut :</h4><p>{{ reservation.statut }}</p>
      </div>
  </article>
  {% endfor %}
  </div>    
  {% else %}
  <strong><p>Vous n'avez pas de réservation pour le moment ou celles déjà faites sont annulées.</p></strong>
  {% endif %} 
  
{% endblock section %}