{% extends 'index.html' %}
{% block section %}

{% for trajet in trajets %}
    <div>
        <h4>Point_depart:</h4><p>{{ trajet.point_depart }}</p>
        <h4>Destination:</h4><p>{{ trajet.destination }}</p>
        <h4>Date:</h4><p>{{ trajet.date }}</p>
        <h4>Places_disponibles:</h2><p>{{ trajet.places_disponibles }}</p>
        <h4>Modele:</h4><p>{{ trajet.modele }}</p>
        <h4>Plaque:</h4><p>{{ trajet.plaque }}</p>
        
        <a href="{% url 'reservation'  %}" class="cta-button">Réserver</a>
    </div>
{% endfor %} </br>
<a href="/trajets" class="cta-button">cree un trajet</a></br>
{% endblock section %}