{% extends 'index.html' %}
<link rel="stylesheet" href="{% static 'ajouterT.css' %}">


{% block section %}
    {% load static %}

    {% block content %}
        <h1>Mes Vehicules</h1>
        <ul>
            {% for vehicle in vehicles %}
                <li>{{ vehicle.modele }} - {{ vehicle.plaque }} - {{ vehicle.places }}

                </li>
                
            {% empty %}
                <li>No vehicles found.</li>
            {% endfor %}
        </ul>
    {% endblock %}
{% endblock section %}